# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mvqfkhyxrcymuvorjeru.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12cWZraHl4cmN5bXV2b3JqZXJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQwNTExMzQsImV4cCI6MjA2OTYyNzEzNH0.ialegLE20NcwP5xPA0nklkGcf8mo0f6dKKzqKanDbtY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12cWZraHl4cmN5bXV2b3JqZXJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDA1MTEzNCwiZXhwIjoyMDY5NjI3MTM0fQ.BZtwCLW8MSlMPWyaXGSDWtnQLq9j4MZIU1mBHdtcOOY

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://sphaire-kjmx1fd61-pranavs-projects-17bd5116.vercel.app

# Google OAuth Configuration (for Supabase)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=556243484814-strpapuca7b8i577vtat8if3lgsa9j7m.apps.googleusercontent.com
